<div class="sticky top-0 w-full shadow-lg p-4 bg-white space-x-4 flex flex-row z-40 align-center items-center">
    <h4 class="text-lg font-semibold">INTELMO</h4>
    <span class="text-sm text-gray-400"
    >
{#        Interface Toolkit for Extensible Language MOdels#}
        <span
            class="text-gray-600"
        >I</span>nterface <span
            class="text-gray-600 text-md"
        >N</span>eural <span
            class="text-gray-600 text-md"
        >T</span>oolkit for <span
            class="text-gray-600 text-md"
        >E</span>xtensible <span
            class="text-gray-600 text-md"
        >L</span>anguage <span
            class="text-gray-600 text-md"
        >MO</span>dels

    </span>
</div>